<!-- FOOTER -->
{% if site.show_footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="row">
        {% if site.data.details.show_address %}
        <div class="col-md-3">
          <h4>Optimus Ltd.</h4>
          <p>
            32 Oatland Rood<br>
            SAN JOSE CS 92926 4601<br>
            T: &nbsp;+1-354-895-4592<br>
            F: &nbsp;+1-745-442-2708
          </p>
          <form class="newsletter">
            <input type="text" placeholder="Your Email">
            <button>Subscribe</button>
          </form>
        </div>
        {% endif %}
        {% if site.data.details.show_news %}
        <div class="col-md-3">
          <h4>Last News</h4>
          <ul class="lnews">
            <li>
              <h5><a href="#">The 20 Most Beautiful and Breathtaking Places in the World</a></h5>
            </li>
            <li>
              <h5><a href="#">10 Steps to Optimizing Your Website for Search Engines</a></h5>
            </li>
            <li>
              <h5><a href="#">Where to Buy Best Coffe in UK</a></h5>
            </li>
          </ul>
        </div>
        {% endif %}
        {% if site.data.details.show_socialmedia %}
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">{{ site.twitter_username }}</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Lnkedin</a></li>
          </ul>
        </div>
        {% endif %}
        {% if site.data.details.show_instagram %}
        <div class="col-md-3">
          <h4>Instagram</h4>
          <div id="instafeed"></div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
{% endif %}

<!-- FOOTER-COPYRIGHT -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>{{ site.data.details.copyright.year }} &copy; {{ site.data.details.copyright.company }}. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        {% if false %}
        <p class="pull-right">Made by <a href="{{ site.data.details.copyright.url }}">{{ site.data.details.copyright.company }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
