<header>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-2 logo">
          <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </div>
        <div class="col-md-10">
          <div class="search pull-right">
            <span class="icon-search2 slide-search"></span>
          </div>
          <!-- NAVIGATION -->
          <nav id="nav_menu" class="pull-right">
            <ul>
              {% for item in site.data.menu %}
              <li {% if item.content %}class='has-sub'{% endif %}>
              <a href='{% if item.url %}{{item.url}}{% else %}{{item.name }}{% endif %}'>{% if item.name %}{{ item.name }}{% else %}{{ item }}{% endif %}</a>
                {% if item.content %}
                <ul>
                  {% for subitem in item.content %}
                  <li><a href="{% if subitem.url%}{{subitem.url}}{% else %}#{% endif %}">{% if subitem.name %}{{subitem.name}}{% else %}{{ subitem }}{% endif %}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="searchbar-content">
    <form class="search">
      <input type="text" placeholder="Type text here and press enter...">
    </form>
  </div>
</header>
