<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="Suprnovae company tech agency bureau engineering firm" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<meta name="author" content="Suprnovae">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Google Webfont -->
	<link rel="stylesheet" href="{{ "/css/ico/icomoon/style.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/easytabs/easy-responsive-tabs.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/instastream/jquery.instastream.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/slick/slick.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/rsplugin/rs-plugin/css/settings.css" media="screen" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.carousel.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.theme.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.transitions.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/css/prettyphoto.css" | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}"/>
	
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  {% if page.mathjax %}
  {% include mathjax.html %}
  {% endif %}
</head>
